@import "./base.css";

/* site header css */
.site-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    padding: 20px 0px;
    transition: all 0.3s ease-in-out;
    background-color: var(--white);
}

.site-header.sticky {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.site-header__nav .navbar-nav a {
    padding: 0 10px;
    color: var(--black);
    font-size: 20px;
    font-weight: 600;
}

.site-header__nav .navbar-brand img {
    max-width: 165px;
}

.site-header .site-logo span {
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    color: var(--lime-green);
}

.site-header .navbar-toggler {
    transition: all .3s ease-in-out;
}

.site-header .navbar-toggler .navbar-toggler-icon {
    padding: 0.25rem;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 2px solid var(--lime-green);
    transition: all .3s;
}

.site-header .navbar-toggler .navbar-toggler-icon i {
    font-size: 22px;
    transition: all .3s;
    color: var(--lime-green);
}

.site-header .navbar-toggler i.fa-bars {
    display: none;
}

.site-header .navbar-toggler[aria-expanded="false"] i.fa-bars {
    display: block;
}

.site-header .navbar-toggler[aria-expanded="false"] i.fa-xmark {
    display: none;
}

.site-header .navbar-toggler.collapsed i.fa-xmark {
    display: none;
}

.site-header .navbar-toggler.collapsed i.fa-bars {
    display: block;
}

.site-header .navbar-nav .nav-link {
    position: relative;
}

.site-header .navbar-nav .nav-link::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    opacity: 0;
    visibility: visible;
    transition: all .3s;
    background-color: var(--lime-green);
}

.site-header .navbar-nav .nav-link:hover,
.site-header .navbar-nav .nav-link:focus {
    color: var(--lime-green);
}

.site-header .navbar-nav .nav-link:hover::before,
.site-header .navbar-nav .nav-link:focus::before {
    opacity: 1;
    width: 100%;
    visibility: visible;
}

.site-header .navbar-nav .nav-item.active .nav-link::before {
    opacity: 1;
    width: 100%;
    visibility: visible;
}

@media (max-width: 991.98px) {

    .site-header .navbar-collapse {
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        transform: translateX(-100%);
        width: 100%;
        overflow-y: auto;
        max-width: 17.5rem;
        transition: all 0.3s;
        background-color: rgba(255, 255, 255, 0.75);
        box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.3);
        height: auto !important;
        z-index: 10000;
        display: block !important;
        padding: 3rem 0;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
    }

    .site-header .navbar-collapse.show {
        transform: translateX(0);
    }

    .site-header .navbar-nav {
        display: flex;
        flex-direction: column;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
    }

    .site-header .navbar-nav .nav-item {
        line-height: 1;
    }

    .site-header .navbar-nav .nav-item.active .nav-link {
        color: var(--lime-green);
    }

    .site-header .navbar-nav .nav-link {
        border-bottom: 1px solid var(--lime-green);
    }

    .site-header .navbar-nav .nav-link {
        position: relative;
        padding: 0.875rem;
        font-size: 1rem;
        transition: all 0.3s;
        padding-left: 24px;
        text-transform: capitalize;
    }

    .site-header .navbar-nav .nav-link:hover,
    .site-header .navbar-nav .nav-link:focus {
        color: var(--lime-green);
    }
}

@media (max-width: 575.98px) {
    .site-header .navbar-collapse {
        max-width: 250px;
    }
}

@media (min-width: 992px) {
    .site-header .navbar-nav .nav-item .nav-link {
        padding: 0;
    }

    .site-header .navbar-nav .nav-item.active .nav-link {
        color: var(--lime-green);
    }

    .site-header .navbar-nav .nav-item:not(:last-child) {
        margin-right: 24px;
    }

    .site-header__nav .navbar-nav a {
        font-size: 18px;
    }

    .site-header .site-logo span {
        font-size: 18px;
    }
}

@media (min-width: 1200px) {

    .site-header .navbar-nav .nav-item:not(:last-child) {
        margin-right: 30px;
    }

    .site-header__nav .navbar-nav a {
        font-size: 20px;
    }

    .site-header .site-logo span {
        font-size: 20px;
    }
}

/*tile-icon css*/

.tile-icon {
    position: relative;
    display: inline-flex;
    align-items: center;
}

.tile-icon i {
    font-size: 24px;
    line-height: 1;
    color: var(--white);
}

.tile-icon span {
    font-size: 16px;
    color: var(--white);
    line-height: 20px;
    margin-left: 8px;
}

.tile-icon span a {
    color: var(--white);
    font-size: 16px;
    display: block;
}

/* Site Footer */

.site-footer {
    background-color: var(--lime-green);
}

.site-footer__wrap {
    padding: 32px 0;
}

.site-footer h4 {
    margin-bottom: 18px;
    color: var(--white);
}

.site-footer .site-footer__logo {
    margin-bottom: 24px;
}

.site-footer .site-footer__logo span {
    color: white;
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
}

.site-footer .site-footer__info {
    text-align: left;
}

.site-footer .site-footer__info h6 {
    font-size: 18px;
    font-weight: 400;
    color: var(--white);
}

.site-footer .site-footer__nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.site-footer .site-footer__nav ul li a {
    font-size: 16px;
    color: var(--white);
}

.site-footer .site-footer__nav ul li:not(:last-child) {
    margin-bottom: 18px;
}

.site-footer .site-footer__copyright {
    padding: 16px 0;
    border-top: 1px solid var(--white);
}

.site-footer .site-footer__copyright p {
    margin-bottom: 0;
}

.site-footer .site-footer__copyright .description {
    font-size: 14px;
    color: var(--white);
}

.site-footer .site-footer__copyright .description a {
    font-size: 14px;
    color: var(--white);
}

.site-footer__socials ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.site-footer__socials ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.site-footer__socials ul li:not(:last-child) {
    margin-right: 24px;
}

.site-footer__socials ul li a {
    display: inline-block;
    color: var(--white);
    transition: all 0.3s;
}

.site-footer__socials ul li a:hover {
    color: var(--secondary);
    text-decoration: none;
}

.site-footer__socials ul li a i {
    font-size: 18px;
}

/*media queries css*/

@media only screen and (min-width: 768px) {

    .site-footer h4 {
        margin-bottom: 24px;
    }

    .site-footer .site-footer__copyright {
        padding: 20px 0;
    }

    .site-footer .site-footer__nav ul li:not(:last-child) {
        margin-bottom: 20px;
    }

    .site-footer .site-footer__socials {
        display: flex;
        align-items: center;
    }

    .site-footer__wrap {
        padding: 36px 0;
    }
}

@media only screen and (min-width: 992px) {

    .site-header {
        background-color: var(--white);
    }

    .site-header__nav .navbar-brand img {
        max-width: 312px;
    }

    .site-header .site-header__nav {
        background-color: var(--white);
    }

    .site-footer h4 {
        margin-bottom: 30px;
    }

    .site-footer .site-footer__nav ul li:not(:last-child) {
        margin-bottom: 24px;
    }

    .site-footer__wrap {
        padding: 40px 0;
    }

    .site-footer .site-footer__copyright {
        padding: 24px 0;
    }
}

@media only screen and (min-width: 1200px) {

    .site-footer .site-footer__nav ul li:not(:last-child) {
        margin-bottom: 30px;
    }
}

/* Homepage hero banner */

.hero-banner .banner-slider {
    position: relative;
    z-index: 11;
    height: 460px;
}

.hero-banner .banner-slider .slick-list,
.hero-banner .banner-slider .slick-track {
    height: 100%;
}

.hero-banner .banner-slider .slide-image {
    position: relative;
    z-index: 1;
    height: 100%;
}

.hero-banner .banner-slider .slide-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(33, 33, 33, .25);
}

.hero-banner .banner-slider .slick-slide {
    height: 100%;
    position: relative;
}

.hero-banner .banner-slider .slide-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

@media (min-width: 576px) {
    .hero-banner .banner-slider {
        height: 540px;
    }
}

@media (min-width: 768px) {
    .hero-banner .banner-slider {
        height: 580px;
    }
}

@media (min-width: 992px) {
    .hero-banner .banner-slider {
        height: 640px;
    }
}

@media (min-width: 1200px) {
    .hero-banner .banner-slider {
        height: 700px;
    }
}

@media (min-width: 1600px) {
    .hero-banner .banner-slider {
        height: 760px;
    }
}

.block-about-us {
    padding: 32px 0;
}

@media (min-width:576px) {
    .block-about-us {
        padding: 48px 0;
    }
}

@media (min-width:992px) {
    .block-about-us {
        padding: 64px 0;
    }
}

@media (min-width:1200px) {
    .block-about-us {
        padding: 80px 0;
    }
}

.block-gallery {
    padding: 32px 0;
}

/* .block-gallery .block-gallery__media a {
    display: inline-block;
} */

.block-gallery .block-gallery__media {
    width: 100%;
    height: 100%;
}

.block-gallery .block-gallery__media img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (min-width:576px) {
    .block-gallery {
        padding: 48px 0;
    }
}

@media (min-width:992px) {
    .block-gallery {
        padding: 64px 0;
    }
}

@media (min-width:1200px) {
    .block-gallery {
        padding: 80px 0;
    }
}

.block-adaptation-process {
    padding: 32px 0;
}

@media (min-width:576px) {
    .block-adaptation-process {
        padding: 48px 0;
    }
}

@media (min-width:992px) {
    .block-adaptation-process {
        padding: 64px 0;
    }
}

@media (min-width:1200px) {
    .block-adaptation-process {
        padding: 80px 0;
    }
}

/* Banner Inner */

.banner-inner {
    display: flex;
    min-height: 320px;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
}

.banner-inner .banner-inner__content {
    padding: 32px 0;
}

.banner-inner .banner-inner__content h1 {
    color: white;
}

@media (min-width:992px) {
    .banner-inner {
        min-height: 360px;
    }
}

.block-our-story,
.block-why-choose,
.block-our-mission {
    padding: 32px 0;
}

@media (min-width:576px) {

    .block-our-story,
    .block-why-choose,
    .block-our-mission {
        padding: 48px 0;
    }
}

@media (min-width:992px) {

    .block-our-story,
    .block-why-choose,
    .block-our-mission {
        padding: 64px 0;
    }
}

@media (min-width:1200px) {

    .block-our-story,
    .block-why-choose,
    .block-our-mission {
        padding: 80px 0;
    }
}

.block-our-adoption-process {
    padding: 32px 0;
}

@media (min-width:576px) {

    .block-our-adoption-process {
        padding: 48px 0;
    }
}

@media (min-width:992px) {

    .block-our-adoption-process {
        padding: 64px 0;
    }
}

@media (min-width:1200px) {

    .block-our-adoption-process {
        padding: 80px 0;
    }
}

/* Table Styles */
table {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
}

table thead tr th {
    text-align: center;
}

table th,
table td {
    padding: 12px;
    text-align: left;
    border: 1px solid var(--dark-black);
}

table th {
    color: var(--white);
    background-color: var(--lime-green);
}

.pre-adoption {
    font-weight: bold;
    vertical-align: middle;
}

.nested-table {
    width: 100%;
    border-collapse: collapse;
}

.nested-table td {
    border: none;
    padding: 8px;
}

/* Table Responsiveness */
@media screen and (max-width: 767.98px) {
    .adoption-table thead {
        display: none;
    }

    table,
    table tbody,
    table tr,
    table td {
        width: 100%;
        display: block;
    }

    table td {
        text-align: right;
        padding-left: 50%;
        position: relative;
    }

    table td::before {
        content: attr(data-label);
        position: absolute;
        left: 10px;
        width: 45%;
        padding-right: 10px;
        text-align: left;
        font-weight: bold;
    }

    table td[rowspan]::before,
    table td[colspan]::before {
        display: none;
    }

    table .pre-adoption {
        text-align: center;
        padding-left: 10px;
        color: var(--white);
        background-color: var(--lime-green);
    }

    .nested-table {
        background-color: transparent;
    }

    .nested-table tr td {
        text-align: center;
    }

    table tbody tr:last-child td:last-child {
        text-align: left;
    }
}

/* Contact page */

.block-contact-form {
    padding: 32px 0;
}

@media (min-width:576px) {
    .block-contact-form {
        padding: 48px 0;
    }
}

@media (min-width:992px) {
    .block-contact-form {
        padding: 64px 0;
    }
}

@media (min-width:1200px) {
    .block-contact-form {
        padding: 80px 0;
    }
}

/* Form Styles */
.contact-form {
    padding: 16px;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.form-group {
    margin-bottom: 16px;
}

.form-group label {
    display: block;
    margin-bottom: 4px;
}

input,
textarea,
select {
    width: 100%;
    width: 100%;
    height: 48px;
    outline: none;
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    padding: 12px 18px;
    border-radius: 4px;
    color: var(--black);
    background-clip: padding-box;
    background-color: var(--white);
    transition: all .5s ease-in-out;
    border: 1px solid rgba(31, 43, 72, 0.16);
}

.form-control:focus {
    outline: none;
    color: var(--black);
    border-color: var(--blue);
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.form-control::placeholder {
    color: rgba(0, 0, 0, 0.80);
}

select.form-control {
    color: var(--black);
}

select.form-control:focus {
    background-color: var(--white);
}

textarea.form-control {
    height: 120px;
    resize: none;
    overflow: hidden;
}

button.submitButton {
    cursor: pointer;
}

.error-msg {
    display: none;
    font-size: 14px;
    margin-top: 4px;
    color: var(--danger-red);
}

@media (min-width:992px) {
    .form-control {
        height: 52px;
        padding: 16px 24px;
    }

    .contact-form {
        padding: 20px;
    }
}

/* Sitemap page */

.block-site-map {
    padding: 32px 0;
}

@media (min-width:992px) {
    .block-site-map {
        padding: 48px 0;
    }
}

@media (min-width:1200px) {
    .block-site-map {
        padding: 64px 0;
    }
}

.block-site-map .site-map-nav ul {
    margin: 0;
    list-style: none;
}

.block-site-map .site-map-nav ul li {
    margin-bottom: 16px;
}

.block-site-map .site-map-nav ul li a {
    font-weight: 600;
    transition: all .3s;
    color: var(--lime-green);
    text-decoration: underline;
}

.block-site-map .site-map-nav ul li a:hover {
    color: var(--primary);
    text-decoration: none;
}